.form-control {
  width: 25%;
  padding: 13px 10px;
  margin: 14px 0;
  box-sizing: border-box;
}

.form-control:focus {
  outline: unset;
}

.form-label {
  margin-right: 8px;
}

.submit-btn, .search-btn {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 12px 30px;
  border: 4px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
}

.submit-btn:hover, .search-btn:hover {
  color: #ffffff !important;
  background: #8C5480;
  border-color: #8C5480 !important;
  transition: all 0.4s ease 0s;
}

.submit-btn:focus, .search-btn:focus {
  outline: unset !important;
}

.form-control:hover {
  outline: #8C5480;
}

.label-text {
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  color: #8C5480;
}

.content-text {
  margin-left: 5px;
}

.label-container {
  margin-top: 6px;
}

.error-block {
  font-size: 13px;
  margin-bottom: 12px;
  color: red;
}
